@font-face {
    font-family: folio-std-light;
    src: url(folio-std-webfont/Folio-Std-Light.woff)
}

@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf)
}

body {
    background-color: black;
    padding: 0;
    box-sizing: border-box;
    font-family: folio-std-light, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.content-body {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 120vh;
    width: 70%;
    font-size: 20px;
    margin: auto;
}

.left-container {
    width: 40%;
    background-color: bisque;
    background-image: url("background.jpg");
    background-size: cover;
}

.right-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9fafb;
    padding: 20px 0px;
}

.logo-container {
    position: relative;
    top: 25%;  
    background-color: rgba(0, 0, 0, 0.5);
    height: 20vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container > p {
    font-size: 10vh;
    font-family: norse-bold;
}

.logo-container > img {
    height: 90%;
}

.logo-container > p {
    display: inline-block;
    vertical-align: middle;
}

.text {
    padding: 30px 40px;
    font-weight: 600;
}

.form-container {
    padding: 10px 120px 30px 40px;
    background: white;
    font-size: 10px;
    box-shadow: 0px 7px 5px -2px #e0e1e2;
    display: flex;
    flex-direction: column;
}

.form-container > p {
    font-size: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.form label {
    color: rgb(55, 55, 55);
    letter-spacing: 1px;
    font-weight: 600;
}

.first-row, .second-row, .third-row {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

input {
    border: 1px solid rgb(154, 154, 154);
    border-radius: 3px;
    height: 20px;
}

input:focus {
    outline: none;
    border: 1px solid rgb(0, 134, 200);
    box-shadow: 2px 2px 3px 0px rgb(161, 161, 161);
}

input:required:invalid {
    outline: none;
    border: 1px solid red;
}

button {
    margin: 30px 40px 0px;
    padding: 10px 30px;
    width: 180px;
    height: 40px;
    border-radius: 5px;
    background-color: #596d48;
    color: white;
    border: none;
    box-shadow: 0px 3px 5px 2px #e0e1e1;
    font-weight: 600;
}

.login_message {
    margin: 20px 40px;
}

.form > p {
    display: block;
}

label {
    display: block;
}

.login_message > p {
    font-size: 15px;
    font-weight: 600;
}

#login-link {
    color: green;
}